.eco-impact-search{
    .el-input__wrapper {
        box-shadow:none;
    }
}

.common-margin {
    padding-left: 45px;
    padding-right: 45px;
}

.el-header {
    padding:0;
}

.el-main {
    padding:0
}

.volume-input {
    .el-input-group__prepend {
        padding: 0 4px 0 5px;
    }
    .el-input-group__append {
        padding: 0 4px 0 3px; 
    }
}

.purchase-button {
    .el-button--large.is-round {
        min-width: 300px;
    }
    .el-button--large.is-round:hover{
        box-shadow: 0 4px 4px #0000004D;
    }

    .basic-button{
        border: 2px solid #004D84;
        color: #004D84;
        background-color: #FFFFFF;
    }
    .blue-button {
        border: 2px solid #004D84;
        background-color: #004D84;
        margin-left: 0;
        color: #ffffff;
    }
    .gray-button{
        border: 2px solid #1D91A2;;
        background-color: #1D91A2;
        margin-left: 0;
        color: #ffffff
    }
}

.el-collapse-item__header{
    color: #525252;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}