.eco-impact-search{
    .el-input__wrapper {
        box-shadow:none;
    }
}

.common-margin {
    margin-left: 45px;
    margin-right: 45px;
}

.el-header {
    padding:0;
}

.el-main {
    padding:0
}