//GLobal
.common-margin {
    padding-left: 45px;
    padding-right: 45px;
}

.el-header {
    padding:0;
}

.el-main {
    padding:0
}

.el-dialog {
    max-width: 650px;
    border-radius: 15px;
}




// Project.vue
.eco-impact-search{
    .el-input__wrapper {
        box-shadow:none;
    }
}

.side-menu {
    .el-collapse{
        width: 86%;
    }
    .el-collapse-item__header {
        color: #A19F9F;
        font-size: 15px;
        font-weight: 400;
    }

}


// PurchaseCard.vue
.popupmodal{
    .el-dialog__body{
        padding: calc(var(--el-dialog-padding-primary) + 10px) calc(var(--el-dialog-padding-primary) + 19px);
        .el-input__wrapper{
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
        }
        .el-form-item__content{
            display: block;
            .el-select{
                display: block;
            }
        }
    }

    .el-textarea__inner{
        border-radius: 10px;
    }

    .modal-input-wrapper {    
        .el-input__wrapper {

            margin-right: -82px;
        }
        span {
            margin-right: 8px;
        }
    
    }

    .offtake {
        .el-input__wrapper {
            margin-right: -49px !important;
        }
    }

}

.vintage-select {
    .el-input__wrapper {
        margin: 0 10px 0 10px;
    }

    // .el-select .el-input {
    //     margin-right: 10px;
    // }

    span {
        margin-right: 5px;
    }
}


.bid-modal {
    .el-dialog__title{
        color: #004D84 ;
    }
    .el-dialog__header {
        margin: 16px;
        border-bottom: 1px solid #004D84
    }
}

.offtake-modal {
    .el-dialog__title{
        color: #1D91A2 ;
    }
    .el-dialog__header {
        margin: 16px;
        border-bottom: 1px solid #1D91A2
    }
}

.volume-input {
    .el-input-group__prepend {
        padding: 0 4px 0 5px;
    }
    .el-input-group__append {
        padding: 0 4px 0 3px; 
    }
}

.purchase-button {
    .el-button--large.is-round {
        min-width: 300px;
    }
    .el-button--large.is-round:hover{
        box-shadow: 0 4px 4px #0000004D;
    }

    .basic-button{
        border: 2px solid #004D84;
        color: #004D84;
        background-color: #FFFFFF;
    }
    .blue-button {
        border: 2px solid #004D84;
        background-color: #004D84;
        margin-left: 0;
        color: #ffffff;
    }
    .gray-button{
        border: 2px solid #1D91A2;;
        background-color: #1D91A2;
        margin-left: 0;
        color: #ffffff
    }
}

.el-collapse-item__header{
    color: #525252;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}